.info-right{
  float: left;
    /*  width: 69%;
    margin-left: 1%;*/
 /*   width: 60%;
    margin-left: 1%;
    background-color: white;
    !*background-color: #E7E5E5;*!
    float: left;
    margin-top: 15px;*/
}